#welcome{
    -fx-background-image: url("welcomebg.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#ok1{
      -fx-background-image: url('okbutton.png');
      -fx-background-repeat: stretch;
      -fx-background-radius: 6, 5;
      -fx-background-size: 75 37.5;
      -fx-background-position: center center;
      -fx-min-height: 37.5px;
      -fx-min-width: 75px;
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
      -fx-cursor: hand;
}

