#numberwindowbg{
    -fx-background-image: url("numberwindowbg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 300;
    -fx-background-position: center center;
}

#0 {
    -fx-background-image: url('numberzerobutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
     -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#1 {
    -fx-background-image: url('numberonebutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#2 {
    -fx-background-image: url('numbertwobutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 55;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#3 {
    -fx-background-image: url('numberthreebutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#4 {
    -fx-background-image: url('numberfourbutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#5 {
    -fx-background-image: url('numberfivebutton.png');
    -fx-background-repeat: stretch;
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#6 {
    -fx-background-image: url('numbersixbutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#text{
    -fx-background-color: #010101;
    -fx-text-fill: #00FE00;
    -fx-font-family: digital-7;
}




#characterwindowbg{
    -fx-background-image: url("numberwindowbg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 400;
    -fx-background-position: center center;
}

#model {
    -fx-background-image: url('modelbutton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#toughGuy {
    -fx-background-image: url('toughGuyButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#gunMan {
    -fx-background-image: url('gunManButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellowModelSqrButton {
    -fx-background-image: url('yellowModelSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellowToughGuySqrButton {
    -fx-background-image: url('yellowToughGuySqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellowGunManSqrButton {
    -fx-background-image: url('yellowGunManSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blueModelSqrButton {
    -fx-background-image: url('blueModelSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blueToughGuySqrButton {
    -fx-background-image: url('blueToughGuySqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blueGunManSqrButton {
    -fx-background-image: url('blueGunManSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#greenModelSqrButton {
    -fx-background-image: url('greenModelSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#greenToughGuySqrButton{
    -fx-background-image: url('greenToughGuySqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#greenGunManSqrButton {
    -fx-background-image: url('greenGunManSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brownModelSqrButton {
    -fx-background-image: url('brownModelSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brownToughGuySqrButton {
    -fx-background-image: url('brownToughGuySqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brownGunManSqrButton {
    -fx-background-image: url('brownGunManSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blackModelSqrButton {
    -fx-background-image: url('blackModelSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blackToughGuySqrButton {
    -fx-background-image: url('blackToughGuySqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blackGunManSqrButton {
    -fx-background-image: url('blackGunManSqrButton.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 170;
    -fx-background-position: center center;
    -fx-min-height: 170px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-max-height: 170px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}



#viewRoombg{
    -fx-background-image: url("roomViewBg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 750 475;
    -fx-background-position: center center;
}

#redgunmanbttn {
    -fx-background-image: url('redgunmanbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#redtoughguybttn{
    -fx-background-image: url('redtoughguybttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#redmodelbttn{
    -fx-background-image: url('redmodelbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellowGunManbttn{
    -fx-background-image: url('yellowGunManbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellowToughGuybttn{
    -fx-background-image: url('yellowToughGuybttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellowModelbttn{
    -fx-background-image: url('yellowModelbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blueGunManbttn{
    -fx-background-image: url('blueGunManbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blueToughGuybttn{
    -fx-background-image: url('blueToughGuybttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blueModelbttn{
    -fx-background-image: url('blueModelbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#greenGunManbttn{
    -fx-background-image: url('greenGunManbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#greenToughGuybttn{
    -fx-background-image: url('greenToughGuybttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#greenModelbttn{
    -fx-background-image: url('greenModelbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brownGunManbttn{
    -fx-background-image: url('brownGunManbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brownToughGuybttn{
    -fx-background-image: url('brownToughGuybttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brownModelbttn{
    -fx-background-image: url('brownModelbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blackGunManbttn{
    -fx-background-image: url('blackGunManbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blackToughGuybttn{
    -fx-background-image: url('blackToughGuybttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blackModelbttn.png{
    -fx-background-image: url('blackModelbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 45;
    -fx-background-position: center center;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
     -fx-max-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#roomViewOk{
    -fx-background-image: url('okBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 75 25;
    -fx-background-position: center center;
    -fx-min-height: 25px;
    -fx-min-width: 75px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}




#viewitembg{
    -fx-background-image: url("viewitembg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 460 520;
    -fx-background-position: center center;
}

#threat{
    -fx-background-image: url('Threat.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 140 200;
    -fx-background-position: center center;
    -fx-min-height: 200px;
    -fx-min-width: 140px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#securityCamera{
    -fx-background-image: url('securityCamera.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 140 200;
    -fx-background-position: center center;
    -fx-min-height: 200px;
    -fx-min-width: 140px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#axe{
        -fx-background-image: url('axe.png');
        -fx-background-repeat: stretch;
        -fx-background-radius: 6, 5;
        -fx-background-size: 140 200;
        -fx-background-position: center center;
        -fx-min-height: 200px;
        -fx-min-width: 140px;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
        -fx-cursor: hand;
 }

#shotGun {
              -fx-background-image: url('shortGun.png');
              -fx-background-repeat: stretch;
              -fx-background-radius: 6, 5;
              -fx-background-size: 140 200;
              -fx-background-position: center center;
              -fx-min-height: 200px;
              -fx-min-width: 140px;
              -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
              -fx-cursor: hand;
          }

#hareware {
              -fx-background-image: url('hardware.png');
              -fx-background-repeat: stretch;
              -fx-background-radius: 6, 5;
              -fx-background-size: 140 200;
              -fx-background-position: center center;
              -fx-min-height: 200px;
              -fx-min-width: 140px;
              -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
              -fx-cursor: hand;
          }

#hidden {
            -fx-background-image: url('hidden.png');
            -fx-background-repeat: stretch;
            -fx-background-radius: 6, 5;
            -fx-background-size: 140 200;
            -fx-background-position: center center;
            -fx-min-height: 200px;
            -fx-min-width: 140px;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
            -fx-cursor: hand;
        }

#sprint {
            -fx-background-image: url('sprint.png');
            -fx-background-repeat: stretch;
            -fx-background-radius: 6, 5;
            -fx-background-size: 140 200;
            -fx-background-position: center center;
            -fx-min-height: 200px;
            -fx-min-width: 140px;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
            -fx-cursor: hand;
        }





#red {
    -fx-background-image: url('redbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yellow {
    -fx-background-image: url('yellowbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 55;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#blue {
    -fx-background-image: url('bluebttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#green {
    -fx-background-image: url('greenbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#brown {
    -fx-background-image: url('brownbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#black {
    -fx-background-image: url('blackbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 100;
    -fx-background-size: 55;
    -fx-background-position: center center;
    -fx-min-height: 55px;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#yesbttn{
    -fx-background-image: url('yesbttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 75 37.5;
    -fx-background-position: center center;
    -fx-min-height: 37.5px;
    -fx-min-width: 75px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#nobttn{
    -fx-background-image: url('nobttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 75 37.5;
    -fx-background-position: center center;
    -fx-min-height: 37.5px;
    -fx-min-width: 75px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#simplemsgbg{
    -fx-background-image: url("messagebg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 300;
    -fx-background-position: center center;
}

#msgokbttn{
    -fx-background-image: url('okbutton.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 75 37.5;
    -fx-background-position: center center;
    -fx-min-height: 37.5px;
    -fx-min-width: 75px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#multiplemsgbg{
    -fx-background-image: url("messagebg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 450;
    -fx-background-position: center center;
}

#choosingitem{
    -fx-background-image: url("itemGettingbg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 460 520;
    -fx-background-position: center center;
}

#ItemGettingWindow{
     -fx-background-image: url("itemGettingbg.png");
     -fx-background-repeat: stretch;
     -fx-background-size: 300 358;
     -fx-background-position: center center;
}

#restroomBttn {
    -fx-background-image: url('restroomBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#cachouBttn {
    -fx-background-image: url('cachouBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#megatoyBttn {
    -fx-background-image: url('megatoyBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#parkBttn {
    -fx-background-image: url('parkBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#securityHQBttn {
    -fx-background-image: url('securityHQBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#superstoreBttn {
    -fx-background-image: url('superstoreBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}

#choosingRoomBg{
    -fx-background-image: url("choosingRoomBg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 700 525;
    -fx-background-position: center center;
}

#ViewZombiesWindow{
    -fx-background-image: url("messagebg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 450;
    -fx-background-position: center center;
}

#wonderlandBttn {
    -fx-background-image: url('wonderlandBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 200 150;
    -fx-background-position: center center;
    -fx-min-height: 150px;
    -fx-min-width: 200px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.3 , 0 , 1 );
    -fx-cursor: hand;
}



#RED {
    -fx-background-image: url('votingNormalBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#YELLOW {
    -fx-background-image: url('votingNormalBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#BLUE {
    -fx-background-image: url('votingNormalBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#GREEN {
    -fx-background-image: url('votingNormalBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#BROWN {
    -fx-background-image: url('votingNormalBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#BLACK {
    -fx-background-image: url('votingNormalBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#Redact {
    -fx-background-image: url('votingRedBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#Yellowact {
    -fx-background-image: url('votingYellowBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#Blueact {
    -fx-background-image: url('votingBlueBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#Greenact {
    -fx-background-image: url('votingGreenBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#Brownact {
    -fx-background-image: url('votingBrownBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#Blackact {
    -fx-background-image: url('votingBlackBttn.png');
    -fx-background-repeat: stretch;
    -fx-background-radius: 6, 5;
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-min-height: 30px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

#votingWindowBg{
    -fx-background-image: url("votingWindowBg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 450;
    -fx-background-position: center center;
}

#ViewVotingSummaryWindow{
    -fx-background-image: url("VotingSummaryWindowBg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 300;
    -fx-background-position: center center;
}